@mixin font-main {
    color: #000;
    font-size: 30rpx;
}
@mixin font-gray {
    color: rgb(209, 209, 209);
    font-size: 24rpx;
}
@mixin font-sub {
    color: #000;
    font-size: 24rpx;
}
@mixin font-active {
    color: #ee8137;
    font-size: 30rpx;
}
@mixin flex-center-row {
    display: flex;
    align-items: center;
}
@mixin flex-center-column {
    display: flex;
    align-items: center;
    flex-direction: column;
}
