@import "../../scss/global.scss";
.conteiner {
	background-color: rgb(246, 247, 248);
}
.HeadContainer {
	background-image: url("https://z3.ax1x.com/2021/08/30/htZrN9.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.Title {
	padding-top: 100rpx;
	line-height: 50rpx;
	font-size: 36rpx;
	text-align: center;
	color: white;
}
.Header {
	width: 750rpx;
	height: 50rpx;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-top: 20rpx;
	image {
		height: 45rpx;
		width: 45rpx;
		padding-right: 20rpx;
	}
}
.player {
	height: 386rpx;
	position: relative;
	video {
		width: 100%;
		height: 100%;
	}
	.alertVIP {
		position: absolute;
		top: 0;
		left: 0;
		height: 386rpx;
		width: 750rpx;
		background-color: rgba(0, 0, 0, 0.7);
		@include flex-center-column;
		justify-content: center;
		color: #edd7b2;
		.playerBTN {
			width: 300rpx;
			text-align: center;
			line-height: 60rpx;
			background-color: #edd7b2;
			border-radius: 50rpx;
			color: #8a5635;
			font-weight: bold;
			margin: 40rpx 0rpx;
		}
	}
}
.playerInfo {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 20rpx;
	background-color: white;
	.buyVipButton {
		width: 686rpx;
		line-height: 88rpx;
		text-align: center;
		background-color: rgb(240, 195, 121);
		color: white;
		font-size: 28rpx;
		border-radius: 10rpx;
	}
	.menuName {
		font-weight: bold;
		padding-top: 20rpx;
		line-height: 96rpx;
	}
	.cardDataBox {
		display: flex;
		justify-content: space-between;
		align-items: center;
		box-sizing: border-box;
		padding-bottom: 20rpx;
		color: rgb(170, 170, 170);
		.cardItemData {
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-size: 18rpx;
			image {
				width: 30rpx;
				height: 30rpx;
				padding: 0rpx 10rpx;
			}
		}
	}
}
.menuInfoBox {
	padding: 28rpx 0rpx;
	.menuInfo {
		background-color: white;
		padding: 0rpx 35rpx;

		font-size: 28rpx;
		.menuTitle {
			font-weight: bold;
			line-height: 70rpx;
			letter-spacing: 2rpx;
		}
		.menuText {
			color: rgb(104, 104, 104);
			line-height: 40rpx;
		}
	}
}
.menuItem {
	background-color: white;
	padding: 28rpx;
	.cardDataBox {
		display: flex;
		justify-content: center;
		align-items: center;
		box-sizing: border-box;
		padding-bottom: 20rpx;
		color: rgb(170, 170, 170);
		.cardItemData {
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-size: 18rpx;
			image {
				width: 30rpx;
				height: 30rpx;
				padding: 0rpx 10rpx;
			}
		}
	}
	.item-box {
		padding-bottom: 20rpx;
		.item {
			@include flex-center-row;
			justify-content: space-between;
			border-bottom: 1px solid #f4f4f4;
			padding: 16rpx 18rpx;
			font-size: 28rpx;
			text {
				display: inline-block;
			}
		}
		.itemHeader {
			.itemTitle {
				font-weight: bold;
			}
			.remove {
				color: rgb(155, 155, 155);
			}
		}
	}
}
.flow-item {
	.title {
		font-size: 40rpx;
		font-weight: bold;
	}
	.scroll-box {
		white-space: nowrap;
		overflow-x: hidden;
		.scroll-item {
			display: inline-block;
			margin-right: 20rpx;
			position: relative;

			.video {
				width: 314rpx;
				height: 220rpx;
				border-radius: 10rpx;
				-webkit-border-radius: 10rpx;
				-moz-border-radius: 10rpx;
				-ms-border-radius: 10rpx;
				-o-border-radius: 10rpx;
				&::after {
					content: '123123';
					text-align: center;
					line-height: 30rpx;
					position: absolute;
					font-size: 24rpx;
					bottom: 20rpx;
					right: 10rpx;
					color: #fff;
					background-color: rgba(0, 0, 0, 0.294);
					border-radius: 10rpx;
					display: inline-block;
					height: 30rpx;
					width: 100rpx;
				}
			}
			.item-text {
				.item-title {
					font-size: 34rpx;
					color: rgb(87, 87, 87);
				}
				.item-desc {
					@include flex-center-row;
					.liulan-text {
						font-size: 18rpx;
						color: rgb(170, 170, 170);
					}
					.mini-icon {
						width: 24rpx;
						height: 24rpx;
						margin-right: 100rpx;
					}
				}
			}
		}
	}
}