@import '../../scss/global.scss';
.container {
    background-color: #fff;
    padding: 0 32rpx;
    margin-bottom: 20rpx;
    .user {
        display: flex;
        padding: 34rpx 0;
        .avatar {
            width: 120rpx;
            height: 120rpx;
        }
        .login {
            box-sizing: border-box;
            padding: 0 24rpx;
            flex: 1;
            @include flex-center-row;
            justify-content: space-between;
            .second {
                @include font-gray;
            }
        }
    }
    .vip {
        position: relative;
        .img {
            width: 100%;
            height: 120rpx;
        }
        .text-box {
            color: rgb(180, 133, 63);
            position: absolute;
            width: 500rpx;
            top: 0;
            padding: 20rpx 100rpx;
            @include flex-center-row;
            justify-content: space-between;
        }
    }
    .btns {
        @include flex-center-row;
        padding: 30rpx 0;
        justify-content: space-between;
        .btns-item {
            width: 112rpx;
            @include flex-center-column;
            image {
                width: 44rpx;
                height: 44rpx;
                padding-bottom: 14rpx;
            }
            text {
                font-size: 28rpx;
                display: block;
            }
        }
    }
    .my-menu {
        .menu-box {
            padding: 16rpx 0;
            white-space: nowrap;
            overflow-x: hidden;
            .menu-item {
                margin-right: 16rpx;
                display: inline-block;
                text-align: center;
                image {
                    width: 192rpx;
                    height: 208rpx;
                }
            }
        }
    }
    .feedback {
        .feedback-item {
            @include flex-center-row;
            image {
                width: 44rpx;
                height: 44rpx;
                padding-right: 26rpx;
            }
            .text {
                flex: 1;
                padding: 38rpx 0;
                border-bottom: 1px solid #f4f4f4;
                font-size: 28rpx;
                @include flex-center-row;
                justify-content: space-between;
            }
        }
    }
}
